<body>
<div class="activate text-center" >


{{#if error}}
    <div class="alert-warning activate text-center">
        <h2>UPsss {{error}}</h2>
    </div>
{{/if}}
{{#unless error}}
    <div class="alert-success texto-activate">
        <h1>PAGINA DE ACTIVACIÓN</h1>
        <h2>Tu cuenta se encuentra activa</h2>
        <a href="http://localhost:3000/iniciarsesion">Login</a>

    </div>
{{/unless}}

</div>
</body>